# streamlit
# streamlit-option-menu
# opencv-python
# speechrecognition
# requests
# numpy
# Pillow
# matplotlib

streamlit
streamlit-option-menu
requests
numpy
pandas
matplotlib
plotly
Pillow
opencv-python
speechrecognition
